.header{
    display: grid;
    width: 100%;
    height: 48px;
    grid-row:1/2;
    grid-column:1/4 ;
    align-items: center;
    box-shadow: 0px 4px 16px rgba(78, 55, 55, 0.15);
    grid-template-columns: repeat(2, 1fr); 
margin: 20px 0 32px 0;
}
#home{
    padding-left: 24px;  
    grid-column: 1/2;
    font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
color: #4F4F4F;
}
#search{
   padding-left: 2px;
    border-radius: 0px;
    padding-right: 25px;
    grid-column: 3/4;
}
#basket{
    padding-left: 2px;
    padding-right: 0%;
    border-radius: 0px;
    grid-column: 4/4;
    padding-left: 2px;
    padding-right:  25px;
}
#jes_text{
    margin-top: 0px;
    margin-bottom: 0%;
grid-row: 2/3;
grid-column: 1/3;
font-family: 'Playfair Display', serif;
font-style: normal;
font-weight: bold;
font-size: 31.25px;
line-height: 36px;
color: #000000;
}
#jes_subtext{
    margin-top: 0%;
    grid-row: 3/4;
    grid-column: 1/4;
    font-family: 'Montserrat';
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #000000;
}
#pp_ls{
    font-family: "Playfair Display";
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 27px;
color: #000000;
}


.main{
    display: grid;
    width: 70%;
    grid-template-rows: 1/3;
    grid-template-columns:1/4;
    padding-left: 24px;
    grid-row-gap:16px;
    
}
.pop_list{
    align-items: center;
    display: flex;
    list-style: none;
    margin: 0;
    margin-bottom: -20px;
    overflow-x: scroll;
    padding-left: 2%;
    padding-bottom: 20px;
    overflow: hidden;
    
}

#pp_ls{
    width: 100%;
    padding-left: 24px;
}




