.header{
    display: grid;
    width: 375px;
    height: 48px;
    grid-row:1/2;
    grid-column:1/4 ;
    align-content: center; 
box-shadow: 0 4px 16px rgba(78, 55, 55, 0.15); 
grid-template-columns: repeat(2, 1fr); 
margin: 20px 0 16px 0;
}
#arrow{
    padding-left: 23.59px;
    grid-column: 1/2;
}
#search{
    display: grid;
    justify-self: end;
    padding-right: 25px;
     border-radius: 0px;
     grid-column: 3/4;

 }
 #basket{
    display: grid;
    justify-self: end;
     padding-left: 2px;
     padding-right:  25px;;
     border-radius: 0px;
     
     grid-column: 4/4;
     
 }
 
 
 .picture{
    
     display: grid;
     width: 375px;
     height: max-content;
     grid-row:auto;
     grid-column: auto;
     justify-content: center;
     filter: drop-shadow(1px 1px 10px rgba(78, 55, 55, 0.2));
     padding-bottom: 0px;
     margin-bottom: 0px;
 }
 .text{
    
    width: 375px;
     grid-template-columns:max-content;  
     grid-template-rows: 1/7;
     align-content: center;
     row-gap: 0%;
 }
 #conv_fr{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 33px;
    text-align: center;
    color: black;
    
 }
 #s_r{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: black;
 }
 #pck{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 140%;
    text-align: center;
    color: #828282;

 }
 #price{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 33px;
    text-align: center;
    
    color: #000000;
 }
 #main_txt{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;  
    color: #000000;
    text-align: center;
    
 }