.authors {
    margin-left: 24px;
    margin-bottom: 32px;
}

.authors__title {
    color: #000000;
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
}

.authors__skroll {
    overflow: hidden;
}

.authors__list {
    align-items: center;
    display: flex;
    list-style: none;
    margin: 0;
    margin-bottom: -20px;
    overflow-x: scroll;
    padding-left: 0;
    padding-bottom: 20px;
}

.authors__item {
    align-content: center;
    flex-direction: column;
    justify-content: center;
    margin-right: 16px;
}

@media only screen and (max-width: 370px) {
    .authors__item {
        margin-right: 16px;
    }
}

.authors__text {
    color: #000000;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 140%;
    text-align: center;
}

.title_arrivals {
    color: #000000;
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
}



.book_name {
    color: #000000;
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;

}

.book_author {
    color: #000000;
    font-family: "Montserrat";
    font-style: normal;
    font-size: 12px;
}

.arrivals {
    margin-left: 24px;
    margin-bottom: 32px;
}

.arrivals_skroll {
    overflow: hidden;
}

.arrivals_list {
    align-items: center;
    display: flex;
    list-style: none;
    margin: 0;
    margin-bottom: -20px;
    overflow-x: scroll;
    padding-left: 0;
    padding-bottom: 20px;
}